html, body {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 400;
}

html, body, #intro {
    height: 100%;
}

#intro {
    background: url("../img/ChasingSunrise3.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-right {
    float: right;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

.navbar.scrolling-navbar {
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	-o-transition: background .5s ease-in-out,padding .5s ease-in-out;
	transition: background .5s ease-in-out,padding .5s ease-in-out;
	padding-top: 12px;
	padding-bottom: 12px;
}